<div class="col-md-6">
    <h3>Create Booking:</h3>

    <form class="form" id="booking-form">
        <hr class="my-4" />
        <h4>
            <i class="fas fa-user"></i> Customer Details
        </h4>
        <div class="form-group">
            <label for="owner_name">Owner Name:</label>
            <input class="form-input form-control" type="text" id="owner_name" name="owner_name" />
        </div>
        <hr class="my-4" />
        <h4>
            <i class="fas fa-dog"></i> Pet Details <i class="fas fa-cat"></i>
        </h4>
        <div class="form-group">
            <label for="pet_name">Pet Name:</label>
            <input class="form-input form-control" type="text" id="pet_name" name="pet_name" />
        </div>
        <div class="form-group">
            <label for="pet_type">Type:</label>
            <input class="form-input form-control" type="text" id="pet_type" name="pet_type" />
        </div>
        <div class="form-group">
            <label for="pet_breed">Breed:</label>
            <input class="form-input form-control" type="text" id="pet_breed" name="pet_breed" />
        </div>
        <div class="form-group">
            <label for="pet_notes">Notes:</label>
            <textarea class="form-input form-control" id="pet_notes" name="pet_notes" rows="3"></textarea>
        </div>
        <hr class="my-4" />
        <h4>
            <i class="fas fa-calendar-check"></i> Drop off and Pick up
        </h4>
        <div class="form-group">
            <label for="date_dropoff">Drop off:</label>
            <input class="form-input form-control" type="date" id="date_dropoff" name="date_dropoff" />
        </div>
        <div class="form-group">
            <label for="date_pickup">Pick up:</label>
            <input class="form-input form-control" type="date" id="date_pickup" name="date_pickup" />
        </div>
        <hr class="my-4" />
        <h4><i class="fas fa-dollar-sign"></i> Price </h4>
        <div class="form-group">
            <label for="fee">Fee:</label>
            <input class="form-input form-control" type="number" id="fee" name="fee" min="0" />
        </div>
        <hr class="my-4" />
        <h4>
            <i class="fas fa-user-check"></i> Assign Staff
        </h4>
        <div class="form-group">
            <label for="staff">Staff:</label>
            <select class="form-control" id="staff" name="staff"></select>

        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-dark mt-2">Book</button>
        </div>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="/js/booking.js"></script>