<div class="row container">
    <div class="col-md-6">
        <h2>Login</h2>

        <form class="form login-form text-right">
            <div class="form-group">
                <label for="email-login" class="col-form-label">email:</label>
                <input class="form-input form-control" type="text" id="email-login" placeholder="Enter your email"
                    required />
            </div>
            <div class="form-group">
                <label for="password-login" class="col-form-label">password:</label>
                <input class="form-input form-control" type="password" id="password-login"
                    placeholder="Your password should be longer than 8 characters" required />
            </div>
            <div class="form-group">
                <button class="btn btn-primary mt-4" type="submit">Log In</button>
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <h2>Sign up</h2>

        <form class="form signup-form">
            <div class="form-group">
                <label for="name-signup" class="col-form-label">name:</label>
                <input class="form-control" type="text" id="name-signup" placeholder="Enter your name" required />
            </div>
            <div class="form-group">
                <label for="email-signup" class="col-form-label">email:</label>
                <input class="form-input form-control" type="text" id="email-signup" placeholder="Enter your email"
                    required />
            </div>
            <div class="form-group">
                <label for="password-signup" class="col-form-label">password:</label>
                <input class="form-input form-control" type="password" id="password-signup"
                    placeholder="Password has to be longer than 8 characters" required />
            </div>
            <div class="form-group">
                <button class="btn btn-primary mt-4" type="submit">Sign Up</button>
            </div>
        </form>
    </div>
</div>

<script src="/js/login.js"></script>